@import "partials/normalize";

body {
  // background-color: #000;
  // color: #FFF;
  text-align:center;
}

canvas {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: -1;
}


h1 {
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
}
