@import "partials/normalize";

*, html {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #FFF;
  height: 100%;
  width: 100%;
  font-size: 14px;
}
a, a:visited {
  color: lightblue;
  text-decoration: none;
  font-style: italic;
}

select {
  float: right;
}

label {
  padding-bottom: 10px;
  display: inline-block;
}

button {
  color: #000;
  margin: 10px 0;
}

canvas {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: -1;
}

h1 {
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ol {
  padding-left: 20px;
  margin-bottom: 60px;
}

li {
  margin-bottom: 10px;
}

audio {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.interface {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: 250px;
  background-color: rgba(255,255,255,.2);
  padding: 20px;
  p:not(.footnote) {
    margin-top: 40px;
    font-size: .9rem;
  }
}
